In [17]:
import pandas as pd

In [4]:
#carregando as tableas

In [5]:
tab_calendario = pd.read_csv('dim_calendario.csv')

In [6]:
tab_calendario.dtypes

fk_calendario    int64
ano              int64
dtype: object

In [7]:
tab_pais = pd.read_csv('dim_pais.csv')

In [37]:
tab_pais.dtypes

fk_pais_1       int64
nome_pais      object
pais_bloco     object
pais_regiao    object
pais_renda     object
dtype: object

In [38]:
#renomeando a coluna

In [40]:
tab_pais = tab_pais.rename (columns = {'fk_pais_1':'fk_pais'})

In [41]:
tab_pais.dtypes

fk_pais         int64
nome_pais      object
pais_bloco     object
pais_regiao    object
pais_renda     object
dtype: object

In [9]:
tab_produto = pd.read_csv('dim_produto.csv')

In [10]:
tab_produto.dtypes

fk_produto       int64
nome_produto    object
tipo            object
dtype: object

In [11]:
tab_setor = pd.read_csv('dim_setor.csv')

In [12]:
tab_setor.dtypes

fk_setor       int64
nome_setor    object
dtype: object

In [13]:
tab_fato_energia = pd.read_csv('fato_energia.csv')

In [14]:
tab_fato_energia.dtypes

id_energia        int64
fk_pais           int64
fk_setor          int64
fk_produto        int64
fk_calendario     int64
valor            object
dtype: object

In [15]:
tab_fato_populacao = pd.read_csv('fato_populacao.csv')

In [16]:
tab_fato_populacao.dtypes

pais_bloco        object
fk_pais            int64
fk_calendario      int64
populacao        float64
id_populacao       int64
dtype: object

In [18]:
#unindo as tabelas

In [30]:
tab_energia = pd.merge(tab_fato_energia,tab_setor, on = 'fk_setor', how = 'inner')

In [31]:
print(tab_energia)

        id_energia  fk_pais  fk_setor  fk_produto  fk_calendario        valor  \
0                1        2         9           1              1  1368.251838
1               13        2         9           2              1  620.7177142
2               25        2         9           8              1            0
3               37        2         9           6              1  75.06450081
4               49        2         9           7              1            0
...            ...      ...       ...         ...            ...          ...
222151      222152       43         2           7             51            0
222152      222153       43         2           9             51     33066.05
222153      222154        1         2           4             51           ..
222154      222155        1         2           7             51           ..
222155      222156        1         2           9             51           ..

                      nome_setor
0                Production (PJ)
1                Production (PJ)
2                Production (PJ)
3                Production (PJ)
4                Production (PJ)
...                          ...
222151  Electricity output (GWh)
222152  Electricity output (GWh)
222153  Electricity output (GWh)
222154  Electricity output (GWh)
222155  Electricity output (GWh)

[222156 rows x 7 columns]

In [32]:
tab_energia = pd.merge(tab_energia, tab_produto, on = 'fk_produto', how = 'inner')

In [42]:
print(tab_energia)

        id_energia  fk_pais  fk_setor  fk_produto  fk_calendario        valor  \
0                1        2         9           1              1  1368.251838
1               97        3         9           1              1  43.48392895
2              193        4         9           1              1  284.4996793
3              289        6         9           1              1  396.0110403
4              385        7         9           1              1  47.31181134
...            ...      ...       ...         ...            ...          ...
217795      217788       30         2           9             50     6979.362
217796      217791       36         2           9             50     1272.822
217797      217794       39         2           9             50    12762.398
217798      217797       43         2           9             50    29549.073
217799      217800        1         2           9             50   184009.911

                      nome_setor              nome_produto tipo   ano
0                Production (PJ)  Coal, peat and oil shale  NRW  1971
1                Production (PJ)  Coal, peat and oil shale  NRW  1971
2                Production (PJ)  Coal, peat and oil shale  NRW  1971
3                Production (PJ)  Coal, peat and oil shale  NRW  1971
4                Production (PJ)  Coal, peat and oil shale  NRW  1971
...                          ...                       ...  ...   ...
217795  Electricity output (GWh)         Renewable sources   RW  2020
217796  Electricity output (GWh)         Renewable sources   RW  2020
217797  Electricity output (GWh)         Renewable sources   RW  2020
217798  Electricity output (GWh)         Renewable sources   RW  2020
217799  Electricity output (GWh)         Renewable sources   RW  2020

[217800 rows x 10 columns]

In [44]:
tab_energia = pd.merge(tab_energia, tab_pais, on = 'fk_pais', how = 'inner')

In [45]:
print (tab_energia)

        id_energia  fk_pais  fk_setor  fk_produto  fk_calendario  \
0                1        2         9           1              1
1                2        2         5           1              1
2                3        2         4           1              1
3                4        2        11           1              1
4                5        2         3           1              1
...            ...      ...       ...         ...            ...
217795      217666        1        10           5             50
217796      217667        1         1           5             50
217797      217668        1         8           5             50
217798      217798        1         2           4             50
217799      217800        1         2           9             50

               valor                             nome_setor  \
0        1368.251838                        Production (PJ)
1                  0                           Imports (PJ)
2       -541.4240011                           Exports (PJ)
3        884.2974695               Total energy supply (PJ)
4       -516.5385537  Electricity, CHP and heat plants (PJ)
...              ...                                    ...
217795             0                       Residential (PJ)
217796             0    Commercial and public services (PJ)
217797             0           Other final consumption (PJ)
217798    640427.364               Electricity output (GWh)
217799    184009.911               Electricity output (GWh)

                    nome_produto tipo   ano nome_pais_x pais_bloco_x  \
0       Coal, peat and oil shale  NRW  1971   Australia          AUS
1       Coal, peat and oil shale  NRW  1971   Australia          AUS
2       Coal, peat and oil shale  NRW  1971   Australia          AUS
3       Coal, peat and oil shale  NRW  1971   Australia          AUS
4       Coal, peat and oil shale  NRW  1971   Australia          AUS
...                          ...  ...   ...         ...          ...
217795                      Heat  NRW  2020      Africa          CAF
217796                      Heat  NRW  2020      Africa          CAF
217797                      Heat  NRW  2020      Africa          CAF
217798              Fossil fuels  NRW  2020      Africa          CAF
217799         Renewable sources   RW  2020      Africa          CAF

              pais_regiao_x pais_renda_x nome_pais_y pais_bloco_y  \
0       East Asia & Pacific  High income   Australia          AUS
1       East Asia & Pacific  High income   Australia          AUS
2       East Asia & Pacific  High income   Australia          AUS
3       East Asia & Pacific  High income   Australia          AUS
4       East Asia & Pacific  High income   Australia          AUS
...                     ...          ...         ...          ...
217795   Sub-Saharan Africa   Low income      Africa          CAF
217796   Sub-Saharan Africa   Low income      Africa          CAF
217797   Sub-Saharan Africa   Low income      Africa          CAF
217798   Sub-Saharan Africa   Low income      Africa          CAF
217799   Sub-Saharan Africa   Low income      Africa          CAF

              pais_regiao_y pais_renda_y
0       East Asia & Pacific  High income
1       East Asia & Pacific  High income
2       East Asia & Pacific  High income
3       East Asia & Pacific  High income
4       East Asia & Pacific  High income
...                     ...          ...
217795   Sub-Saharan Africa   Low income
217796   Sub-Saharan Africa   Low income
217797   Sub-Saharan Africa   Low income
217798   Sub-Saharan Africa   Low income
217799   Sub-Saharan Africa   Low income

[217800 rows x 18 columns]

In [46]:
tab_energia = pd.merge(tab_energia, tab_calendario, on = 'fk_calendario', how = 'inner')

In [47]:
print(tab_energia)

        id_energia  fk_pais  fk_setor  fk_produto  fk_calendario  \
0                1        2         9           1              1
1                2        2         5           1              1
2                3        2         4           1              1
3                4        2        11           1              1
4                5        2         3           1              1
...            ...      ...       ...         ...            ...
217795      217666        1        10           5             50
217796      217667        1         1           5             50
217797      217668        1         8           5             50
217798      217798        1         2           4             50
217799      217800        1         2           9             50

               valor                             nome_setor  \
0        1368.251838                        Production (PJ)
1                  0                           Imports (PJ)
2       -541.4240011                           Exports (PJ)
3        884.2974695               Total energy supply (PJ)
4       -516.5385537  Electricity, CHP and heat plants (PJ)
...              ...                                    ...
217795             0                       Residential (PJ)
217796             0    Commercial and public services (PJ)
217797             0           Other final consumption (PJ)
217798    640427.364               Electricity output (GWh)
217799    184009.911               Electricity output (GWh)

                    nome_produto tipo  ano_x nome_pais_x pais_bloco_x  \
0       Coal, peat and oil shale  NRW   1971   Australia          AUS
1       Coal, peat and oil shale  NRW   1971   Australia          AUS
2       Coal, peat and oil shale  NRW   1971   Australia          AUS
3       Coal, peat and oil shale  NRW   1971   Australia          AUS
4       Coal, peat and oil shale  NRW   1971   Australia          AUS
...                          ...  ...    ...         ...          ...
217795                      Heat  NRW   2020      Africa          CAF
217796                      Heat  NRW   2020      Africa          CAF
217797                      Heat  NRW   2020      Africa          CAF
217798              Fossil fuels  NRW   2020      Africa          CAF
217799         Renewable sources   RW   2020      Africa          CAF

              pais_regiao_x pais_renda_x nome_pais_y pais_bloco_y  \
0       East Asia & Pacific  High income   Australia          AUS
1       East Asia & Pacific  High income   Australia          AUS
2       East Asia & Pacific  High income   Australia          AUS
3       East Asia & Pacific  High income   Australia          AUS
4       East Asia & Pacific  High income   Australia          AUS
...                     ...          ...         ...          ...
217795   Sub-Saharan Africa   Low income      Africa          CAF
217796   Sub-Saharan Africa   Low income      Africa          CAF
217797   Sub-Saharan Africa   Low income      Africa          CAF
217798   Sub-Saharan Africa   Low income      Africa          CAF
217799   Sub-Saharan Africa   Low income      Africa          CAF

              pais_regiao_y pais_renda_y  ano_y
0       East Asia & Pacific  High income   1971
1       East Asia & Pacific  High income   1971
2       East Asia & Pacific  High income   1971
3       East Asia & Pacific  High income   1971
4       East Asia & Pacific  High income   1971
...                     ...          ...    ...
217795   Sub-Saharan Africa   Low income   2020
217796   Sub-Saharan Africa   Low income   2020
217797   Sub-Saharan Africa   Low income   2020
217798   Sub-Saharan Africa   Low income   2020
217799   Sub-Saharan Africa   Low income   2020

[217800 rows x 19 columns]

In [ ]:
tab_energia = pd.merge(tab_energia, tab_fato_populacao, on = 'fk_pais', how = 'inner')

In [52]:
print(tab_energia)

          id_energia  fk_pais  fk_setor  fk_produto  fk_calendario_x  \
0                  1        2         9           1                1
1                  1        2         9           1                1
2                  1        2         9           1                1
3                  1        2         9           1                1
4                  1        2         9           1                1
...              ...      ...       ...         ...              ...
10350445      217797       43         2           9               50
10350446      217797       43         2           9               50
10350447      217797       43         2           9               50
10350448      217797       43         2           9               50
10350449      217797       43         2           9               50

                valor                nome_setor              nome_produto  \
0         1368.251838           Production (PJ)  Coal, peat and oil shale
1         1368.251838           Production (PJ)  Coal, peat and oil shale
2         1368.251838           Production (PJ)  Coal, peat and oil shale
3         1368.251838           Production (PJ)  Coal, peat and oil shale
4         1368.251838           Production (PJ)  Coal, peat and oil shale
...               ...                       ...                       ...
10350445    29549.073  Electricity output (GWh)         Renewable sources
10350446    29549.073  Electricity output (GWh)         Renewable sources
10350447    29549.073  Electricity output (GWh)         Renewable sources
10350448    29549.073  Electricity output (GWh)         Renewable sources
10350449    29549.073  Electricity output (GWh)         Renewable sources

         tipo  ano_x  ...         pais_renda_x nome_pais_y pais_bloco_y  \
0         NRW   1971  ...          High income   Australia          AUS
1         NRW   1971  ...          High income   Australia          AUS
2         NRW   1971  ...          High income   Australia          AUS
3         NRW   1971  ...          High income   Australia          AUS
4         NRW   1971  ...          High income   Australia          AUS
...       ...    ...  ...                  ...         ...          ...
10350445   RW   2020  ...  Upper middle income    Thailand          THA
10350446   RW   2020  ...  Upper middle income    Thailand          THA
10350447   RW   2020  ...  Upper middle income    Thailand          THA
10350448   RW   2020  ...  Upper middle income    Thailand          THA
10350449   RW   2020  ...  Upper middle income    Thailand          THA

                pais_regiao_y         pais_renda_y ano_y pais_bloco  \
0         East Asia & Pacific          High income  1971        AUS
1         East Asia & Pacific          High income  1971        AUS
2         East Asia & Pacific          High income  1971        AUS
3         East Asia & Pacific          High income  1971        AUS
4         East Asia & Pacific          High income  1971        AUS
...                       ...                  ...   ...        ...
10350445  East Asia & Pacific  Upper middle income  2020        THA
10350446  East Asia & Pacific  Upper middle income  2020        THA
10350447  East Asia & Pacific  Upper middle income  2020        THA
10350448  East Asia & Pacific  Upper middle income  2020        THA
10350449  East Asia & Pacific  Upper middle income  2020        THA

         fk_calendario_y   populacao id_populacao
0                      1  12937000.0            1
1                      2  13177000.0           43
2                      3  13380000.0           85
3                      4  13723000.0          127
4                      5  13893000.0          169
...                  ...         ...          ...
10350445              47  70898202.0         1972
10350446              48  71127802.0         2014
10350447              49  71307763.0         2056
10350448              50  71475664.0         2098
10350449              51  71601103.0         2140

[10350450 rows x 23 columns]

In [53]:
tab_energia1 = pd.DataFrame(tab_energia)

In [55]:
tab_energia1.to_csv('tab_energia1.csv', index = False)

In [ ]:
tab_energia2 = pd.DataFrame(tab_energia)

In [ ]:
tab_energia2.to_excel('tab_energia2.csv', index = False, engine = 'openpyxl')